* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
.rectangle {
  width: 5px;
  height: 5px;
  background: #25233A;
  border-radius: 10px;
}
.top-bar {
  padding: 24px 20px;
}
.top-bar .navbar {
  width: 500px;
}
.top-bar .navbar li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #25233A;
}
.top-bar .navbar li a:hover {
  color: #FB765F;
}
.top-bar .row {
  align-items: center;
}
.section-1 {
  padding: 100px 0;
}
.section-1 .section-1-content .section-1-content-left {
  padding-top: 50px;
  height: 420px;
}
.section-1 .section-1-content .section-1-content-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}
.section-1 .section-1-content .section-1-content-left .rectangle {
  width: 432px;
  height: 51px;
  left: 149px;
  top: 330px;
  background: #C4C4C4;
  padding: 20px;
}
.section-1 .section-1-content .section-1-content-left button {
  width: 200px;
  height: 60px;
  background: #FB765F;
  border-radius: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
.section-1 .section-1-content .section-1-content-left .arrow-group {
  width: 90px;
}
.section-1 .section-1-content .section-1-content-right {
  height: 500px;
}
.section-1 .section-1-content .section-1-content-right .card {
  padding: 22px;
  width: 500px;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.section-1 .section-1-content .section-1-content-right .card .card-text .up {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.section-1 .section-1-content .section-1-content-right .card .card-text .down {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #377EF9;
}
.section-1 .section-1-content .section-1-content-right button {
  width: 200px;
  height: 50px;
  border: 2px solid #FB765F;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FB765F;
}
.section-2 {
  background: rgba(241, 241, 241, 0.9077);
  height: 326px;
}
.section-2 .container .section-2-slider-panel {
  padding: 40px 0;
}
.section-2 .container .section-2-slider-panel .section-2-slider-item {
  width: 160px;
  height: 150px;
  margin: 0 auto;
}
.section-2 .container .section-2-slider-panel .section-2-slider-item p {
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #25233A;
}
.section-2 .container .section-2-slider-panel .section-2-slider-item button {
  width: 140px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid #377EF9;
  background: rgba(241, 241, 241, 0.9077);
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  color: #377EF9;
  opacity: 0.9;
}
#section-3 {
  padding: 50px 0;
}
#section-3 .container p {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #333333;
}
#section-3 .container .title {
  margin-bottom: 50px;
}
#section-3 .container .row .section-3-card {
  width: 350px;
  height: 620px;
  position: relative;
}
#section-3 .container .row .section-3-card img[src="img/pl.svg"] {
  border-radius: 10px;
}
#section-3 .container .row .section-3-card-contentBlock {
  background-color: #ffffff;
  position: absolute;
  width: 260px;
  height: 249px;
  padding: 20px;
  margin-left: 25px;
  bottom: 0;
  opacity: 0.9;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-title {
  position: relative;
  margin-bottom: 30px;
  width: 90%;
  margin: 0 auto;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-title p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #25233A;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-description {
  position: relative;
  justify-content: flex-start;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-description img {
  margin-right: 10px;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-description p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #25233A;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-featuresRow {
  position: relative;
  margin: 30px 0;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-featuresRow .section-3-card-contentBlock-feature {
  width: 100px;
  height: 30px;
  text-align: center;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-featuresRow .section-3-card-contentBlock-feature .up {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #25233A;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-featuresRow .section-3-card-contentBlock-feature .down {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #25233A;
}
#section-3 .container .row .section-3-card-contentBlock .section-3-card-contentBlock-button {
  position: relative;
  width: 250px;
  height: 50px;
  background: #FB765F;
  box-shadow: 0px 4px 15px rgba(251, 118, 95, 0.5);
  border-radius: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
#section-3 .container .row .column {
  justify-content: space-around;
}
